* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Main div of hero */
.hero {
    width: 100%;
    height: 80vh;
    background-color: green;
    animation: slider 10s ease-in-out 20s infinite;
}

@keyframes slider {
    0% {
        background-color: #8d2828;
    }

    50% {
        background-color: #df7e8e;
    }

    100% {
        background-color: #6a0909;
    }
}

.icon-fiverr {
    color: white;
    font-weight: 800;
}

.icon-fiverr:hover {
    color: white;
}

.nav-br-list>li>a {
    color: white;
    font-size: small;
}

.nav-br-list>li>a:hover {
    color: white;
}

.nav-br-list>button {
    border: 1px solid white;
    color: white;
    font-size: small;
}

.nav-br-list>button:hover {
    background-color: #015d01;
    color: white;
}

/* Slider */
.slider {
    padding: 0 40px;
    height: 100%;
    width: 100vw;
    background-color: green;
    animation: slider 10s ease-in-out 20s infinite;
}

.slider-search{
    z-index: 2;
}

.slider-search>h1{
    color: white;
    font-weight: 700;
}
.slider-search>h1>i{
    font-family: cursive;
}

.slider-search>div{
    display: flex;
}
.slider-search>div>input{
    width: 80%;
    background-color: white;
    height: 30px;
    border-radius: 2px 0 0 2px;
    text-align: left;
    font-size: small;
}
.slider-search>div>.btn-search{
    width: 10%;
    height: 30px;
    border-radius: 0 2px 2px 0;
    border: 1px solid transparent;
    color: white;
    background-color: #2dc263;
}

.slider-search>div{
    display: flex;
}
.slider-search>div>h6{
    color: white;
    font-weight: 600;
    font-size: 12px;
}
.slider-search>div>.pop{
    width: auto;
    padding: 3px;
    height: auto;
    border-radius: 20px;
    font-size: 11px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-left: 5px;
    font-weight: 600;
}
.slider-search>div>.pop:hover{
    color: #333333;
    background: white;
}

.slider-pic {
    width: 20vw;
    height: 65vh;
    background-image: url("./images/images-3.jpg");
    background-size: cover;
}

button.end-hero{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button.end-hero>p{
    color: rgb(182, 180, 180);
}

button.end-hero>.Trusted{
    font-weight: 600;
    font-size: small;
}

/* CONTENT */
.cont{
    margin: 4% 0 1% 4%;
    font-size: 2.15rem;
    font-weight: bolder;
}
#content{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cont-box{
    height: 55vh;
    width: 17%;
    background-color: white;
}
.cont-box p{
    margin: 20px 0 0 20px;
    color: white;
    font-weight: 500;
    font-size: 12px;
}
.cont-box h2{
    margin-left: 20px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

#content-2{
    margin-top: 40px;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e4f2f3;
    padding: 96px 32px;
    color: #333333;
}

.cont2-box1{
    width: 45vw;
    height: auto;
}
h2.cont2-heading{
    font-size: 2rem;
    font-weight: 700;
}
.cont-2list{
    font-weight: bold;
}

.cont2-box2{
    width: 40vw;
}
.cont2-box2>video{
    width: 40vw;
}

#content-3{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 96px 32px;
    color: #333333;
}
.cont3-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    height: 7rem;
}
.cont3-box>div.border{
    width: 5rem;
    border: 1px solid green;
}
.cont3-box>div.border:hover{
    width: 7rem;
    transition: width 0.5s ease-in-out;
}
.cont3-box>img{
    width: 5rem;
    height: 3rem;
}

footer{
    border-top: 1px solid #bdbaba;
    border-bottom: 1px solid #bdbaba;
    padding: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.foot-box{
    width: 13rem;
    margin-right: 2%;
    color: #74767e;
}
.foot-box>p{
    font-weight: bold;
    line-height: 3rem;
    cursor: pointer;
    color: #404145;
}
.foot-box>li{
    list-style-type: none;
    line-height: 2rem;
    cursor: pointer;
    font-weight: 500;
}

.footer2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 1rem;
}
.foot2-box1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
}
.foot2-box1>h1{
    color: #B5B6BA;
    font-weight: 800;
    font-size: 2rem;
    width: auto;
    height: 30px;
}
.foot2-box1>p{
    color: #B5B6BA;
    height: 30px;
    width: auto;
}
.foot2-box2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #74767e;
    cursor: pointer;
}
.foot2-box2>i{
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
    padding: 1%;
    border-radius: 50%;
}
.foot2-box2>i:hover{
    background-color: rgb(232, 232, 232);
}
.men-icon:hover{
    border: 0.75px solid grey;
}

@media screen and (max-width: 1050px){
    .nav-br-list>li>a{
        font-size: 11px;
    }
    .space-slider{
        display: none;
    }
    .slider-pic {
        width: 10vw;
        height: 60vh;
    }

}